.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100vw;
    background-color: $body;

    &__logo {
        font-size: 4rem;
        text-align: center;
    }
}