.layout {
    margin-top: 80px;
    padding: 5vw;
}

.section {
    position: relative;
    background-color: $primary;
    margin: 2rem 0;
    padding: 2rem 1rem;
    width: 100%;

    &__title {
        color: $secondary;
    }
}